.navbar {
  top: 0;
  z-index: 100;
  position: fixed !important;
  width: 100%;
}

.ComapnyName{
    color: ##660000 !important;
    font-size: 25px;
}

.nav-item {
    font-size: 20px;
    margin-right: 10px;
}

img {
    display: block;
    position: relative;
    width: 10vw;
    height: 10vw;
}

@media (max-width 1000px) {
    .logo {
        height: 15vw;
        width: auto;
    }
}
