.welcomeSign {
    margin-top: 50px;
    height: auto;
    width: 100%;
}

@media (max-width 1000px) {
    .welcomeSign {
        margin-top: 50px;
        height: auto;
        width: inherit !important;
    }
}
