.footer-container {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #ebf0f1;
    color: #660000;
}

.title-footer {
    padding-top: 25px;
}

.bbb-rating {
    background-color: #660000;
    padding: 10px;
    border-radius: 22px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}
.li-text {
    font-family: 'Abel', sans-serif !important;
}

.li-indent-text {
    font-family: 'Lato', sans-serif !important;
    color: #e10000 !important;
    text-indent: 50px;
}

.footer-links:hover {
    color: #C2C1A5 !important;
}

#rating-text {
    align-content: center;
    color: #ebf0f1 !important;
}

#card-text {
    color: #ebf0f1 !important;
}

.Social-icon {
    font-size: 55px;
    padding-left: 25px;
}

.li-social-icon{
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}
