.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5f5f5f;
    color: #F5F9E9;
}

.bbb-rating {
    background-color: #F5F9E9;
    padding: 10px;
    border-radius: 22px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}
.li-text {
    font-family: 'Abel', sans-serif !important;
}

.li-indent-text {
    font-family: 'Lato', sans-serif !important;
    color: #9BC4CB !important;
    text-indent: 50px;
}

.footer-links:hover {
    color: #C2C1A5 !important;
}

#rating-text {
    align-content: center;
    color: #34403A !important;
}
