a {
    color: #34403A !important;
    text-decoration: none !important;
}

a:hover {
    color: #660000 !important;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
    color: #660000;
    text-align: center;
}

h4 {
    text-align: center;
}

ul {
    list-style: none;
}

.card {
    max-width: 20rem;
}
