a {
    color: #34403A !important;
    text-decoration: none !important;
}

a:hover {
    color: #7F7F7F !important;
}

h4 {
    text-align: center;
}

ul {
    list-style: none;
}

.card {
    max-width: 20rem;
}
